<!DOCTYPE html>
<html lang="{{ site.lang }}" class="{{ classes.html }}">
  <head>
    {% include head.html %}

    {% if env == 'production' %}
      {% capture css %}{% include style.min.css %}{% endcapture %}
      <style>
        {{ css }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/assets/style.css" />
    {% endif %}
  </head>

  <body class="{{ classes.body }}">
    {% include header.html %}
    <main
      id="main-content"
      style="scroll-margin-top: 5rem;"
      class="{{ classes.main }}"
    >
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
