<!DOCTYPE html>
<html lang="{{ site.lang }}" class="{{ classes.html }}">
  <head>
    {% include head.html %} {% if env == 'production' %} {% capture css %}{%
    include style.min.css %}{% endcapture %}
    <style>
      {{ css }}
    </style>
    {% else %}
    <link rel="stylesheet" href="/assets/style.css" />
    {% endif %}
    <title>{{ site.title }}</title>
  </head>

  <body class="px-6 bg-gray-100">
    {% include header.html %}
    <main
      id="main-content"
      style="scroll-margin-top: 5rem;"
      class="mx-auto max-w-screen-xl mt-32 md:mt-8"
    >
      <section>
        <article class="mx-auto measure markdown">
          <time value="{{ date }}" class="text-sm text-gray-600"
            >Last updated: {{ date | readableDate }}</time
          >
          <header>
            <h1 class="mt-6">{{ title }}</h1>
          </header>
          <div class="markdown">
            {{ content }}
          </div>
        </article>
        <aside class="border-t-2 border-gray-400">
          <section class="my-8">
            <img
              class="mx-auto mb-4 rounded-full"
              src="https://via.placeholder.com/200"
              alt="Icon"
            />
            <p class="text-sm">
              I'm Stetson, and if you're here that's cool. I'm learning
              Javascript, and this collection of writing is me figuring it, and
              other things I'm interested in out.
            </p>
          </section>
          <section class="my-8">
            <h3>Tags</h3>
            <div class="flex items-center py-1 mb-6">
              {% include tags.html %}
            </div>
          </section>
          <section class="my-8">
            <h3>Always</h3>
            <ul class="text-demoBorder text-sm" >
              <li>No ads</li>
              <li>No social media</li>
              <li>No tracking / analytics</li>
              <li>No other sponsored shit I don't use</li>
              <li>No affiliate links</li>
              <li>No third-party scripts</li>
              <li>No third-party scripts</li>
              <li>No trash</li>
            </ul>
            <p class="text-sm">If you like (or dislike) anything on this site, email me and let me know.  I'll email you back.</p>
          </section>
        </aside>
      </section>
      <h2>Up next</h2>
      <nav class="flex flex-col items-stretch -mx-4 max-w-screen-lg">
        <a rel="prev" href="" class="text-center text-lg text-gray-700 font-semibold m-4 p-6 rounded-md shadow-lg border border-gray-200 hover:shadow-xl ">Button goes here</a>
      </nav>
    </main>

    {% include footer.html %}
  </body>
</html>
