<!DOCTYPE html>
<html lang="{{ site.lang }}" class="{{ classes.html }}">
  <head>
    {% include head.html %} {% if env == 'production' %} {% capture css %}{%
    include style.min.css %}{% endcapture %}
    <style>
      {{ css }}
    </style>
    {% else %}
    <link rel="stylesheet" href="/assets/style.css" />
    {% endif %}
    <title>{{ site.title }}</title>
  </head>

  <body class="px-8">
    {% include header.html %}
    <main
      id="main-content"
      style="scroll-margin-top: 5rem;"
      class="mx-auto max-w-screen-lg mt-32"
    >
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
